@(title:String)

<head>
  <meta charset="UTF-8">
  <title>@title</title>

  <!-- CSS -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/dhtmlx_std_full/dhtmlx.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/shortcut.png")">


    <!-- JavaScript -->
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/dhtmlx_std_full/dhtmlx.js")" type="text/javascript"></script>

</head>
